body {
  margin-top: 25px;
}

canvas {
  border: thin #777 solid;
}

h2.header {
  margin-top: 61px;
  margin-bottom: 40px;
}

#game-container {
  background: #DDD;
  width: 600px;
  height: 615px;
}

#combo {
  font-size: 250px;
  line-height: 135px;
}

@-webkit-keyframes rainbow {
  0%   { color: red;    }
  20%  { color: orange; }
  40%  { color: yellow; }
  60%  { color: green;  }
  80%  { color: blue;   }
  100% { color: purple; }
}

@-moz-keyframes rainbow {
  0%   { color: red;    }
  20%  { color: orange; }
  40%  { color: yellow; }
  60%  { color: green;  }
  80%  { color: blue;   }
  100% { color: purple; }
}

@keyframes rainbow {
  0%   { color: red;    }
  20%  { color: orange; }
  40%  { color: yellow; }
  60%  { color: green;  }
  80%  { color: blue;   }
  100% { color: purple; }
}

.combo-letter {
  font-size: 25px;
  font-weight: 200;
  font-style: italic;
}

.rainbow {
  -moz-animation: rainbow ease-out 2s infinite;
  -webkit-animation: rainbow ease-out 2s infinite;
  animation: rainbow ease-out 2s infinite;
}

#combo-wrap {
  position: absolute;
  z-index: 2;
  left: 505px;
  top: 55px;
  transition: opacity 250ms ease-out;
}

.combo-banner {
  margin-left: 20px;
}

.canvas-container {
  position: relative;
  background: white;
  margin-left: 70px;
}

.scoreboard {
  margin: 0 0 0 70px;
  width: 140px;
  height: 59px;
}

.scoreboard.countdown {
  position: relative;
  top: -79px;
  left: 327px;
  height: 0;
}

.scoreboard > h3 {
  color: darkblue;
  font-weight: 200;
  padding-top: 10px;
  margin-bottom: 5px;
}

.scoreboard > span {
  color: darkblue;
  font-size: 22px;
  font-weight: 200;
  margin-bottom: 5px;
}

.transparent {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.80;
  transition: opacity 1s cubic-bezier(0, 2.68, 0.1, -0.36);
}

.overlay {
  position: relative;
  top: -100%;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: none;
}

.not-visible {
  visibility: hidden;
  opacity: 0;
}

.btn.btn-primary.overlay-btn {
  position: relative;
  left: 40%;
}

.overlay-header {
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
  color: white;
}

.high-score {
  color: white;
  padding-left: 24px;
  margin-bottom: 335px;
  font-weight: 200;
}